# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

log.log
test.html
.idea

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

utils/delete.go
sqlFiles
masterhub_files/master_videos
users_avatars